#resume-container {
    background-color: black;
}

#title-text {
    font-weight: bolder;
    font-size: 2em;
    color: rgb(46, 117, 199);
}

#header-text {
    font-size: 1.5em;
    font-weight: bold;
    color: rgb(46, 117, 199);
}

#skills-text {
    color: white;
    font-weight: 200;
    font-size: 1em;
    display: inline;
    justify-content: left;
}

