#resume-body {
    width: 70%;
    height: 100%;
    padding: 10px;
    margin: auto;
}

#title-text {
    font-weight: bolder;
    font-size: 2em;
    color: white;
    text-align: center;
}

#header-text {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(232, 202, 118);
}

#subheader-text {
    font-size: 1em;
    font-weight: bold;
    color: rgb(46, 117, 199);
}

#project-text {
    font-size: 1em;
    font-weight: bold;
    color: rgb(46, 117, 199);
    display: block;
}

#skills-text {
    color: white;
    font-weight: 100;
    display: inline;
    font-size: .8em;
    justify-content: left;
}

#work-text {
    color: white;
    font-weight: 100;
    justify-content: left;
}

.resume-bg {
    background-image: url("../../images/resume_bg.png");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-section {
    display: inline-flex;
    justify-content: center;
}

.contact-info {
    color: white;
    display: flex;
    margin: 0 2em;
}

.contact-icon {
    margin:0 5px;
    height: 20px;
}