#button-container {
    justify-content: center;
}

#home-button {
    background-color: rgb(99, 99, 99, 0.5);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#home-button:hover {
    background-color: rgb(99, 99, 99, 0.7);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#home-text {
    color: white;
}

#home-text:active {
    color: blue;
}

#portfolio-button {
    background-color: rgb(99, 99, 99, 0.5);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#portfolio-button:hover {
    background-color: rgb(99, 99, 99, 0.7);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#portfolio-text {
    color: white;
}

#aboutme-button {
    background-color: rgb(99, 99, 99, 0.5);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#aboutme-button:hover {
    background-color: rgb(99, 99, 99, 0.7);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#aboutme-text {
    color: white;
}

#resume-button {
    background-color: rgb(99, 99, 99, 0.5);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#resume-button:hover {
    background-color: rgb(99, 99, 99, 0.7);
    border-radius: 50%;
    border: 1px solid gray;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}

#resume-text {
    color: white;
}