.aboutme-container {
    margin: auto;
}

.aboutme-parallax {
    height: 1000px;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.carousel {
    margin-bottom: 2em;
}