.portfolio-bg {
    background-image: url("../../images/resume_bg.png");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.portfolio-links {
    background-color: rgb(99, 99, 99, 0.5);
    border-radius: 10%;
    padding: 12px;
    height: 6em;
    width: 6em;
    margin: 1em;
}